<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your adventure but need further information? That's great! Send us an email!</p>
            </div>

            <div class="col-lg-2 col-lg-offset-5 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
                <a href="https://www.instagram.com/travelcoachexpert" class="ms-3" target="_blank">
                    <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".2s"></i>
                </a>
            </div>
        
    </div>
</section>
